
<div class="row">
    <div class="container center">
        <form [formGroup]="login">
            <div class="col-xs-6">
                <div class="form-group">
                   <label>Email</label>
                    <input type="email" class="form-control"
                        name="email" >
                    <label>Password</label>
                    <input type="password"  class="form-control"
                        name="password">
                    <br>
                    <button class="btn btn-primary" (click)='onLogin()'>Log-In
                    </button>
                    <br>
                    <a href="http://localhost:4200/signup"><em>Don't have a account? create account</em></a>
                </div>
            </div>
        </form>
    </div>
</div>
