<div class="row">
    <div class="container center">
        <form [formGroup]="login" (ngSubmit)="onSubmit(login.value)">
            <div formGroupName="user">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" formControlName='email' name="email">
                    <span *ngIf="!login.get('user.email').valid && login.get('user.email').touched">Enter a email</span>
                    <div class="form-group">
                    </div>
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName='password' name="password">
                    <span *ngIf="!login.get('user.password').valid && login.get('user.password').touched">Enter a password</span>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">Log-In
                </button>

                <br>
                <a href="http://localhost:4200/signup"><em>Don't have a account? create account</em></a>
            </div>
        </div>
        </form>
    </div>
</div>