.containers{
  width: 100%;
  height: auto;
  background: ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.box{
  width: 20%;
  height: 300px;
  background-color: white;
  margin: 2px;
  box-sizing: content-box;
}