<div *ngFor='let data of categorie'>
    <div class="col-xs-4">
        <div class="row">
            <div class="box">
                    <img *ngIf="data.image == null" [src]=defimage width="200px" height="200px">
                   <a><img *ngIf="data.image !== null" [src]='data.image.avatar.url' width="200px" height="200px"></a>
                    <button  value={{data.id}} (click)=onSelectItem($event)  width="200px">{{data.name}}</button>
            </div>
        </div>
    </div>
    <button (click)= 'sub()'>sub</button>
</div>