<div class="row">
    <div class="container">
        <form [formGroup]="signup" (ngSubmit)="onSubmit()">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="first_name" formControlName="first_name">
                    <span *ngIf="!signup.get('first_name').valid && signup.get('first_name').touched" class="help-block">This filed is requerd</span>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="last_name" formControlName="last_name">
                    <span *ngIf="!signup.get('last_name').valid && signup.get('last_name').touched" class="help-block">This filed is requerd</span>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" formControlName="email" name="email">
                    <span *ngIf="!signup.get('email').valid && signup.get('email').touched">Enter a vaild email</span>
                </div>
               
                <div class="form-group">
                    <label>Ragister Documnet</label>
                    <input type="file" class="form-control" name="document" formControlName="document">
                    <span *ngIf="!signup.get('document').valid && signup.get('document').touched">please attach a file</span>
                </div>
                <div class="form-group">
                    <label>Ern number</label>
                    <input type="number" class="form-control" name="ern_number" formControlName="ern_number">
                   
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" formControlName="password" >
                    <span *ngIf="!signup.get('password').valid && signup.get('password').touched">Enter a password</span>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" name="password_confirmation" formControlName="password_confirmation" >
                    <span *ngIf="!signup.get('password_confirmation').valid && signup.get('password_confirmation').touched"></span> 
                         
                        <span *ngIf="!signup.controls.password_confirmation.valid">password mismatch</span>
                </div>
                <br>
                <button class="btn btn-primary" type="submit" (click)='onSubmit()'>Sign-Up
                </button>
                <br>
                <a href="http://localhost:4200/login">already have a Account?</a>
                


            </div>
        </form>
    </div>
</div>